<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<ul>
			<li><%=pokemones.name%></li>
			<li><img src="<%=pokemones.img%>"></li>
	</ul>
</body>
</html>
