
body{

    text-align: center;
    margin: auto;
    font-size: 35px;


}

ul{
	list-style: none;
	margin: 13% auto;
	font-size: 30px;
	color: red;
	font-family: Apple Chancery;
	border: 10px auto;
}